* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.btn{
    /* font-size: 1.2em; */
    padding: 6px 31px;
    border-radius: 4px;
    border-style: none;
    background-color: #ff9016;
    border: 2px solid #ff9016;
    outline-color: #f19530;
}
.btn.btn--green{
    background-color: #16ff48;
    border: 2px solid #00ff00;
    outline-color: #00ff1f;
    color: white;
    font-weight: bold;
}
.btn:hover,.btn:active,.btn:focus{
    background-color: transparent;
    color:#ff9016;
    cursor:pointer;
}
.btn.btn--green:hover,.btn.btn--green:active,.btn.btn--green:focus{
    color:#16ff48;
}