@import "../style.css";

body{
    display:block;
    background:#403C38;
    height:auto;
    overflow:auto;
    padding-top: 54px;
}
header{
    display:block;
    background:#131212;
    width:100%;
    background: #1c2127;
    min-height:55px;
    padding: 7px 19px;
    position: fixed;
    z-index: 999;
    top: 0px;
}
header nav, header div.logo,header form.login{
    display: inline-block;
    height: 33px;
}
header nav{
    width: 32px;
    height: 32px;
    float: left;
    background: initial;
}
header nav button{background: transparent;border-style: none;width: 100%;height: auto;overflow: auto;}
header nav button .bar{
    width: 100%;
    height: 2px;
    display: block;
    background-color: white;
    margin: 7px 0px;
}
header nav ul{display: none;}
header nav ul li{

}
header div.logo{float: left;font-size: 1.3em;margin-left: 10px;color: white;padding: 5px;}
header form.login{float: right;}
header form.login button{
    font-size: 1.2em;
    padding: 6px 31px;
    border-radius: 4px;
    border-style: none;
    background-color: #ff9016;
    border: 2px solid #ff9016;
    outline-color:#f19530;
}
div[role="main"]{
    background: #fff;
}