<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Enterprise Suite</title>
	    <meta charset="utf-8" />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<!-- Capecario do site com o meu + btnLogin -->
	    <header>
	    	<nav></nav>
	    	<div></div>
	    	<form></form>
	    </header>
	    <!-- Slide -->
	    <div role="banner">
	    </div>
	    <!-- Conteudo -->
	    <div role="main">
	    	<label th:text="#{hellow}"></label>
	    </div>
	    <!-- Rodapé -->
	    <footer>
	    </footer>
	</body>
</html>