<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Enterprise Suite</title>
	    <meta charset="utf-8" />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" th:href="@{/css/site/home.css}" />
	</head>
	<body>
		<!-- Capecario do site com o meu + btnLogin -->
	    <header>
	    	<nav >
	    	    <button>
	    	        <div class="bar"></div>
	    	        <div class="bar"></div>
	    	        <div class="bar"></div>
	    	    </button>
                <ul> 
                    <li>Beneficios</li>
                    <li>Entrar/Cadastro</li>
                    <li>Sobre</li>
                    <li>Contado</li>
                </ul>
	    	</nav>
	    	<div class="logo"> Voyager ERP</div>
	    	<form class="login">
                <button class="btn" type="button">Login</button>
	    	</form>
	    </header>
	    <!-- Slide -->
	    <div role="banner">
	        <div class="banner-esquerdo">
	            <div class="banner-esquerdo-conteudo">
	                <h3> Teste Gratuitamente!</h3>
	                <p>Faça um teste e tenha um insite do sistema.</p>
	                
	                <img src="img/site/cloud-financials-infinite.gif">

	                <button class="btn btn--green"> Testar </button>
	            
	            </div>
	            <div class="banner-esquerdo-vam">
	            </div>
	        </div>
	        <div class="banner-direito">
	           <div class="banner-direito-conteudo">
	               <h3>Parceiros & Integrações</h3>
	               <p> Oferecemos integração para você montar o seu proprio Trem bala.  </p>
	            </div>
	        </div>
	    </div>
	    <!-- Conteudo -->
	    <div role="main">
	        <section>
	            <h2>Clientes e Socios</h2>
	            <article>
	                <h3> CLientes mobile </h3>
	                <p> Mobile tal tal apra vendas </p>
	            </article>
	            <article>
	                <h3> Consultas Online </h3>
	                <p> Ajude os seus socios a saberem como anta o negocio </p>
	            </article>
	        </section>
	        <section>
	            <h2>Gerenciamento</h2>
	            
	            <article>
	                <h3> Micro emprentador </h3>
	                <p> Tudo mais rapido de consultar .... </p>
	            </article>
	            <article>
	                <h3> Pequenas e medias empresas</h3>
	                <p> Tudo sobre controlle </p>
	            </article>
	        </section>
	    </div>
	    <!-- Rodapé -->
	    <footer>
	    </footer>
	</body>
</html>