
div[role="banner"]{
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
    background-size: cover;
    background-position: bottom;
}

.banner-esquerdo, .banner-direito{
    width: 50%;
    display: inline-block;
    float: left;
}
.banner-esquerdo, .banner-direito, .banner-esquerdo-vam,.banner-esquerdo-conteudo{
    height: 364px;
}
.banner-esquerdo{

}
.banner-esquerdo-vam{
    width: 216px;
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    /* margin-left: -61px; */
    /* position: absolute; */
    z-index: 1;
    float: right;
}
.banner-esquerdo-vam,.banner-esquerdo-conteudo{
    
    /* position: relative; */
    background: white;
} 
.banner-esquerdo-conteudo{
        position: absolute;
        z-index: 100;
        width: 40%;
        text-align: center;
        font-size: 1.2em;
        color: #424141;
        text-align: center;
        text-indent: 15px;
}
.banner-direito{

}
.banner-direito-conteudo{
    min-width: 71%;
    max-width: 81%;
    float: right;
    background-color: rgba(56, 56, 56, 0.85);
    padding: 6px 8px;
    border-radius: 4px;
    margin: 8px 6px 0px 0px;
    color: #777;
}
.banner-direito-conteudo h3{text-align: end;}
.banner-direito-conteudo p{text-indent: 21px;}
.banner-esquerdo-conteudo h3{
    font-size: 1.6em;
    /* text-align: justify; */
    margin-top: 16px;
}
.banner-esquerdo-conteudo p{
    font-size: 1.2em;
    margin: 16px;
}
.banner-esquerdo-conteudo img{
    width: 222px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.banner-esquerdo-conteudo .btn{
    font-size: 1.1em;
}
div[role="main"] section{padding-top: 12px;width: 95%;margin-left: auto;margin-right: auto;}
div[role="main"] section h2{text-align: center;font-size: 1.7em;padding: 19px 0px;border-bottom: solid #e2e2e2 0.001rem;}
div[role="main"] section h3{

}
div[role="main"] section article{padding-left: 27px;}
div[role="main"] section article h3{color: #6a9d67;padding: 10px 0px;font-size: 1.5em;text-indent: 13px;}
div[role="main"] section article p{
    
}